* 
{ 
    padding:0; 
    margin:0; 
}

html
{ 
    font:14px normal Arial, sans-serif; 
    color:#7f7f7f; 
    background-color:#fdfdfd;
}

body { 
    padding:60px; 
}

ul { 
    list-style:none; 
    display: inline-block; 
}

ul li { 
    display: inline-block; 
    padding: 10px 20px; 
    cursor:pointer; 
    background-color:#eee; 
    color:#156831; 
    transition:0.3s; 
}

ul li:hover { 
    background-color:#beecea; 
}

ul li.focused { 
    color:#fff; 
    background-color:#987423; 
}

p { 
    padding-top:15px; 
    font-size:12px; 
}

.modal {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 250px;
  min-height: 100px;
  padding: 15px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: #fff;
}

.bg {
  z-index: 9998;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.btClose {
    margin-top: 20px;
}