* 
{ 
    padding:0; 
    margin:0; 
}

html
{ 
    font:14px normal Arial, sans-serif; 
    color:#7f7f7f; 
    background-color:#fdfdfd;
}

body { 
    padding:60px; 
}

ul { 
    list-style:none; 
    display: inline-block; 
}

ul li { 
    display: inline-block; 
    padding: 10px 20px; 
    cursor:pointer; 
    background-color:#eee; 
    color:#156831; 
    transition:0.3s; 
}

ul li:hover { 
    background-color:#beecea; 
}

ul li.focused { 
    color:#fff; 
    background-color:#987423; 
}

p { 
    padding-top:15px; 
    font-size:12px; 
}
